section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;

  display: flex;
  align-items: center;

  > .movie {
    width: 40%;
    font-size: 1rem;
    margin-left: 60px;

    h1 {
      font-size: 3rem;
    }

    > .movie-info {
      margin-top: 10px;

      > span:not(:first-child) {
        margin-left: 10px;
      }

      width: 50%;
      display: flex;
      flex-direction: row;
      font-weight: 700;

      > .vote-average {
        color: #41c060;
      }
    }

    > .movie-synopsis,
    .movie-genres {
      margin-top: 10px;
      color: #b2b2b2;
    }

    > .movie-actions {
      margin-top: 30px;
      display: flex;
      flex-direction: row;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        border-radius: 5px;
        padding: 10px 30px;
        font-weight: 700;
        transition: all 0.1s ease;

        > span {
          margin-left: 10px;
        }

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      .watch-btn {
        background-color: white;
        color: black;
      }

      .watchlist-btn {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(5px);
        color: white;
      }
    }

    .movie-genres {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 900px) {
  section {
    display: none;
  }
}
